@import "tailwindcss";

:root {
  background: #000000;
  color: #ffffff;
}

/* Esconde a scrollbar mas mantém a função de rolar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@layer utilities {

  /* Estilo da Barra de Rolagem Personalizada */
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    /* Largura fina vertical */
    height: 6px;
    /* Altura fina horizontal */
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
    /* Fundo transparente */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #333;
    /* Cor da barra (cinza escuro) */
    border-radius: 20px;
    /* Bordas arredondadas */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* Cor ao passar o mouse */
  }

  /* Para Firefox */
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #333 transparent;
  }
}